/* all */
.drop_menu{
    display: block;
    /* color: #fff; */
    /* background: #ffa500; */
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .drop_menu:hover {
    opacity: 0.7;
  }
  
  /* tablet, sp */
  @media screen and (max-width: 767px) {
    .drop_menu {
      margin: 30px auto;
      padding: 20px;
      font-size: 16px;
    }
  }
  
  /* pc */
  @media screen and (min-width: 768px) {
    .drop_menu {
      margin: 40px auto;
      padding: 20px;
      font-size: 20px;
    }
  }
  